{% extends "course.html" %}

{% block coursecontent %}
<h3>学生名单</h3>
<table class="table">
    <thead>
    <tr>
        <th>
            序号
        </th>
        <th>
            姓名
        </th>
        <th>
            邮箱
        </th>
    </tr>
    </thead>
    <tbody>
    {% for s in students %}
    <tr>
        <td>
            {{loop.index}}
        </td>
        <td>
            {{s.name}}
        </td>
        <td>
            {{s.email}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
